# This section configures the Web UI
ip = "127.0.0.1"
port = 80

[authentication]
method = "ssh_agent"

#alternatively you can use the pub_key method
#method = "pub_key"
#private_key = "/home/alex/.ssh/id_ecdsa"
#public_key = "/home/alex/.ssh/id_ecdsa.pub" #optional
#passphrase = "hunter2" #optional


# This section configures the servers that should be monitored
[[servers]]
username = "user"
hostname = "dev-server-1.hostname.tld"
disk = "sda"
filesystem = "sda1"
network_interface = "eth0"

[[servers]]
username = "user"
hostname = "dev-server-2.hostname.tld"
disk = "sda"
filesystem = "sda1"
network_interface = "eth0"
