# This section configures the Web UI
ip = "127.0.0.1"
port = 80


# This section configures the servers that should be monitored
[[servers]]
username = "user"
hostname = "dev-server-1.hostname.tld"
disk = "sda"
network_interface = "eth0"

[[servers]]
username = "user"
hostname = "dev-server-2.hostname.tld"
disk = "sda"
network_interface = "eth0"
